<mat-toolbar>
	<mat-toolbar-row>
    <div routerLink="/" class="_logo">
      <img src="https://raw.githubusercontent.com/shavipathania/venjoy-github-io/develop/src/assets/branding/logo.png" alt="Logo">
      <span>Venjoy</span>
    </div>
    <span class="_spacer"></span>
    <button routerLink="/oauth/login" mat-icon-button>
      <mat-icon class="_icon">input</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <nav>
      <a class="_active" routerLink="/">Home</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>